.product{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(179, 172, 172);
}

.product-info{
    margin-left: 20px;
    padding-left: 10px;
}

.product-name{
    
    color: blue;
    font-weight: 600;
}

.cart-btn{
    background-color: goldenrod;
    border: 1px solid black;
    height: 40px;
    padding: 5px 50px;
    color: whitesmoke;
    font-weight: 600;
}